<li id="page-<%= page.id %>" class="page">
  <%= link_to user_page_path(@user, page) do %>
    <%= render 'pages/page/page_update', page: page %>
    <div class="product-box">
      <%= render 'pages/page/page_title', page: page %>
      <hr>
      <%= render 'pages/page/page_content', page: page %>
      <hr>
      <%= render 'pages/group/group_user_info', page: page %>
      <hr>
      <%= render 'pages/page/page_tool', page: page %>
    </div>
  <% end %>
</li>