<div class="row page-show">
  <div class="col-lg-offset-2 col-lg-8">
    <%= render 'pages/page/page_update', page: @page %>
    <div class="product-box">
      <%= render 'pages/page/page_title', page: @page %>
      <hr>
      <%= render 'pages/page/page_content_show', page: @page %>
      <hr>
      <%= render 'pages/page/group_info', page: @page %>
      <hr>
      <%= render 'pages/page/page_tool', page: @page %>
    </div>
  </div>
</div>